
header {
    background: linear-gradient(110deg,blue, purple);
    color:white;
    font-size: 30px;
    text-align: center;
    height: 100px;
    
}

h1 {
    padding-top: 2%;
}

.btn {
    min-width: 180px;
}


.current {
   width: 100px;
    height:100px;
   float:right;
   padding-right: 850px;
   padding-top: 50px;
  
  
}


.col {
    display:inline-block;
    
}

#futurew {
    display: inline-block;
    background-color: rgb(23, 221, 247);
    margin-top: -200px;
}

.future {
    display: inline-block;
    padding-left: 200px;
    margin-left: 50px;
    
}



#future-weather {
    display:flex;
}

h4 {

}