
header {
    background: linear-gradient(110deg,blue, purple);
    color:white;
    font-size: 30px;
    text-align: center;
    height: 100px;
    
}

h1 {
    padding-top: 2%;
}

.btn {
    min-width: 180px;
}


.current {
    background-color: red;
    width: 350px;
    height:350px;
   display:inline-block;
   margin-left: 50%;
   margin-top: -350px;
}


.col {
    display:inline-block;
    
}

#currentW {
    display: inline-block;
}


